<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <br />
    <br />
    <h3 class="mb-4">Create To Do</h3>
    <form action="#" th:action="@{/todos/insert}" th:object="${todo}" method="post">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name">
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Create"></input>
        <a type="button" class="btn btn-secondary" th:href="@{/todos/list}">Cancel</a>
    </form>
</div>
</body>
</html>